{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">Mes infos</h4>
                <p class="lead mb-0">
                    <strong>Antonino Candido</strong>
                    <br/>
                    Développeur Informatique
                    <br/>
                    Var - Bouche du rhône
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">Me contacter</h4>
                <p class="lead mb-0">
                    06.66.60.77.72
                    <br/>
                    candido.antonino@gmail.com
                    <br/>
                    <br/>
                    N'hésitez pas, il vous suffit de <a href='/contact'>cliquez ici</a>
                    <br/><br/>
                    
                </p>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <div class="lead mb-0 foot-3">
                    <div class='fond-cv'>
                        <p>
                            <a href="{% static 'webapp/projets/cv-antonino-candido.pdf' %}" target="_blank">Consulter mon CV</a>
                        </p>
                    </div>
                </div>
                <br/>
                <br/>
                <p class="lead mb-0">
                    © 2011-2012 Antonino Candido.Tous droits réservés			
                </p>
            </div>
        </div>
    </div>
</footer>