@import 'webapp/scss/home/parallax';


/*

CSS CONTAINER ACCUEIL

*/

#container_accueil_bg {
	background-color:#eeeeee;
	Font-family: Calibri, Verdana, Ariel, sans-serif;
}

.titre_h1 {
	font-family: 'OSPDIN';
	font-size:40px;
	color:#333;
}

.text-hover {
	position: absolute;
	z-index:999;
	width:243px;
	height:138px;
    border:3px #acacac solid;
    box-sizing: unset;
}

#div_image_projet_1 img.nb, #div_image_projet_2 img.nb {border:3px #acacac solid}
#div_image_projet_1 .p_titre, #div_image_projet_2 .p_titre{padding-top:12px;font-size:18px;font-weight:bold;color:#333}
#div_image_projet_1 .p_descr, #div_image_projet_2 .p_descr{	line-height:25px;font-size:17px;color:#666;font-style: italic ;}

#div_image_projet_2{width:243px;float:left;margin-left:32px;}

#container_actus{width:357px;float:right;height:250px;}

.div_titre {
	border-bottom:5px #d6d7cf solid;
	margin-bottom: 30px;
}

.div_sub_title {
    width: 100%;
    text-align: center;
    position: absolute;
    margin: -43px 0 0 -35px;
    font-size: 22px;
    color:#333;
    font-weight:bold;
    letter-spacing:3px;
}

#container_actus .p_actus{line-height:28px;font-size:16px;color:#333;text-align:justify}
#container_actus  p#btn_plus_infos{float:right}

#presta_web img,#presta_cms img,#presta_flash img{margin-top:35px}
#presta_web ul, #presta_cms ul, #presta_flash ul {padding-top:12px;line-height:20px;font-size:16px;color:#333;}
#presta_cms{width:285px;margin-left:45px;float:left}
#presta_flash{width:285px;float:left;margin-left:44px}