
.pxs_bg div{
	position:absolute;
	top:0px;
	left:0px;
	width:7584px; /*1264px window width times number of images*/
	height:600px;
	/*background-repeat:repeat;
	background-position:top;
	background-color:transparent;*/
}
.pxs_bg .pxs_bg1{
	background-image:url(../images/bg1.png);
	background-position:top left ;
	/*left negative 1/8 of ww*/
}
.pxs_bg .pxs_bg2{
	background-image:url(../images/bg2.png);
	background-position:top left ;
	/*left negative 1/4 of ww*/
}
.pxs_bg .pxs_bg3{
	background-image:url(../images/bg3.png);
		background-position:top left;
	
	/*left negative 1/2 of ww*/
}
.pxs_slider_wrapper{
	display:none;
}
.pxs_container ul, .pxs_container_projekt ul{
	margin:0 auto;
	padding:0px;
	list-style:none;
}
ul.pxs_slider{
	position:absolute;
	left:0px;
	height:600px;
}
ul.pxs_slider li{
	height:600px;
	float:left;
	position:relative;
}
ul.pxs_slider li img{
	display:block;
}
.contenu_1{
	height:600px;
	margin:0 auto;
	width:980px;
	display:block;

	
	}
.contenu_1 p
{
position:absolute;
}