<div class="contenair-client">
	<div id="div_titre_menu">
		<div class="info-client">
			Client : <span>BNP Paribas Cardif</span> | Contrat : <span>Alternance</span> | Diplôme : <span>Concepteur
				Réalisateur Web</span> | Date : <span>2010-2012</span>
		</div>
		<div id="btn_nav">
			<a class="projet-prev" id="projet-prev-galerie-client" href="#">
				<img border="0" src="projets/images/btn-prev.png" width="35" height="42" />
			</a>
			<a class="projet-next" id="projet-next-galerie-client" href="#">
				<img border="0" src="projets/images/btn-next.png" width="35" height="42" />
			</a>
			<a href="#" id="retour">
				<img border="0" src="projets/images/btn-close.png" width="35" height="42" />
			</a>
		</div>
		<img src="projets/images/barre-separ.png" />
		<div id="cont-gauche">
			<img src="projets/images/galerie/projet-14/logo-bnp.png" />
			<br /> <br /><br />
			<p>Réalisation d'une application Flash en AS3 dans le but de communiquer des dates de réunions
				dans toutes la France.</p><br />
			<p>Il s'agit d'un projet sur lequel j'ai contribué durant mon alternance chez BNP Paribas.</p><br />
			<p class="my-work-title">Ce que j'ai fait ...</p>
			<ul>
				<li><span>Développement AS3</span></li>
				<li><span>Animation intro</span></li>
			</ul>
			<br /><br />
			<p class="my-work-title">J'ai utilisé ...</p>
			<ul>
				<li><span>Adobe Flash CS4</span></li>
				<li><span>Adobe After Effect CS4</span></li>
			</ul>
		</div>
		<div id="cont-droite">
			<div id="clientsHolder">
				<div id="galerie-client">
					<img src="projets/images/galerie/projet-14/bnp-carte-france-1.jpg" width="563" height="392"
						alt="BNP Paribas - Carte de France - 1" />
					<img src="projets/images/galerie/projet-14/bnp-carte-france-2.jpg" width="563" height="392"
						alt="BNP Paribas - Carte de France - 2" />
					<img src="projets/images/galerie/projet-14/bnp-carte-france-3.jpg" width="563" height="392"
						alt="BNP Paribas - Carte de France - 3" />
					<img src="projets/images/galerie/projet-14/bnp-carte-france-4.jpg" width="563" height="392"
						alt="BNP Paribas - Carte de France - 4" />
				</div>
			</div>
		</div>
	</div>
</div>