<div class="contenair-client">
	<div id="div_titre_menu">
		<div class="info-client">
			Client : <span>Centre nationale d'aide &agrave; domicile</span> | Agence : <span>Internet-cmwa</span> | Date
			: <span>2010</span>
		</div>
		<div id="btn_nav">
			<a class="projet-prev" id="projet-prev-galerie-client" href="#">
				<img border="0" src="projets/images/btn-prev.png" width="35" height="42" />
			</a>
			<a class="projet-next" id="projet-next-galerie-client" href="#">
				<img border="0" src="projets/images/btn-next.png" width="35" height="42" />
			</a>
			<a href="#" id="retour">
				<img border="0" src="projets/images/btn-close.png" width="35" height="42" />
			</a>
		</div>
		<img src="projets/images/barre-separ.png" />
		<div id="cont-gauche">
			<img src="projets/images/galerie/projet-10/logo_cnad.png" />
			<br /> <br />
			<p>Site vitrine pour l'entreprise "Chez-soi Services".<br />
				Il s'agit d'un projet réalisé en tant qu'auto-entrepreneur avec l'agence Internet-cmwa.</p><br />
			<p>Projet actuellement en Stand-by.</p><br />
			<p class="my-work-title">Ce que j'ai fait ...</p>
			<ul>
				<li><span>Webdesign & Intégration</span></li>
				<li><span>CMS Joomla</span></li>
				<li><span>Maintenance du site</span></li>
			</ul>
		</div>
		<div id="cont-droite">
			<div id="clientsHolder">
				<div id="galerie-client">
					<img src="projets/images/galerie/projet-10/cnad-1.jpg" width="563" height="392" alt="CNAD" />
				</div>
			</div>
		</div>
	</div>
</div>