	<div class="contenair-client">
				<div id="div_titre_menu">
					<div class="info-client">
						Client : <span>Vox Company</span> | Agence : <span>Internet-cmwa</span> | Date : <span>2011</span>
					</div>
						<div id="btn_nav">
							<a class="projet-prev" id="projet-prev-galerie-client" href="#">
								<img border="0" src="projets/images/btn-prev.png" width="35" height="42"/>
							</a>
							<a class="projet-next" id="projet-next-galerie-client" href="#">
								<img border="0"  src="projets/images/btn-next.png" width="35" height="42"/>
								</a>
							<a href="#" id="retour">
								<img border="0" src="projets/images/btn-close.png" width="35" height="42"/>
								</a>
						</div>
						<img src="projets/images/barre-separ.png"/>
						<div id="cont-gauche">
							<img src="projets/images/galerie/projet-6/logo-agence-conseil.png"/>
							<br/><br/>
							<p>Proposition de maquette pour &laquo;l'Agence Conseil en ligne&raquo;<br/> (Cr&eacute;dit Agricole Centre Est).<br/>
							<br/>Il s'agit d'un projet r&eacute;alis&eacute; dans le cadre d'un concours de Webdesign pour Vox Company.</p><br/>
							<p>1er ex-aequo au concours - Non retenu par le client final.</p><br/>
							<br/>
							<p id="my-work-title">J'ai utilis&eacute; ...</p>
							<ul>
								<li><span>Photoshop CS4</span></li>
								<li><span>Illustrator CS4</span></li>
							</ul>		
						</div>
			<div id="cont-droite">
				<div id="clientsHolder">
					<div id="galerie-client">			
						<img src="projets/images/galerie/projet-6/agence-conseil-1.jpg" width="563" height="392" alt="Crédit Agricole - Concour - 1" />
						<img src="projets/images/galerie/projet-6/agence-conseil-2.jpg" width="563" height="392" alt="Crédit Agricole - Concour - 2" />
					</div>
				</div>
			</div>
		</div>
	</div>