<div class="contenair-client">
	<div id="div_titre_menu">
		<div class="info-client">
			Client : <span>Domaine Saint André</span> | Agence : <span>Internet-cmwa</span> | Date : <span>2011</span>
		</div>
		<div id="btn_nav">
			<a class="projet-prev" id="projet-prev-galerie-client" href="#">
				<img border="0" src="projets/images/btn-prev.png" width="35" height="42" />
			</a>
			<a class="projet-url" href="http://domaine-saint-andre.fr" target="_blank">
				<img border="0" src="projets/images/btn-lien.png" width="131" height="42" />
			</a>
			<a class="projet-next" id="projet-next-galerie-client" href="#">
				<img style="margin:-11px 6px 0 0" border="0" src="projets/images/btn-next.png" width="35" height="42" />
			</a>
			<a href="#" id="retour">
				<img border="0" src="projets/images/btn-close.png" width="35" height="42" />
			</a>
		</div>
		<img src="projets/images/barre-separ.png" />
		<div id="cont-gauche">
			<img src="projets/images/galerie/projet-3/logo-domaine-saint-andre.png" />
			<br /><br />
			<p>Site vitrine du "Domaine Saint André".<br />
				Il s'agit d'un projet réalisé en tant qu'auto-entrepreneur avec l'agence Internet-cmwa.</p><br />
			<p>Pour la réalisation du bandeau, j'ai mis en place un<br /> studio photo avec l'aide de mon fr&egrave;re
				(co-gérant Internet-cmwa).</p><br />
			<p class="my-work-title">Ce que j'ai fait ...</p>
			<ul>
				<li><span>Webdesign & Intégration</span></li>
				<li><span>CMS Joomla</span></li>
				<li><span>Mise en place du Studio photo</span></li>
				<li><span>Création de bouteilles de vin - 3DSMAX</span></li>
				<li><span>Maintenance du site</span></li>
			</ul>
		</div>
		<div id="cont-droite">
			<div id="clientsHolder">
				<div id="galerie-client">
					<img src="projets/images/galerie/projet-3/domaine-saint-andre-1.jpg" width="563" height="392"
						alt="Le Domaine Saint André - 1" />
					<img src="projets/images/galerie/projet-3/domaine-saint-andre-2.jpg" width="563" height="392"
						alt="Le Domaine Saint André - 2" />
					<img src="projets/images/galerie/projet-3/domaine-saint-andre-3.jpg" width="563" height="392"
						alt="Le Domaine Saint André - 3" />
					<img src="projets/images/galerie/projet-3/domaine-saint-andre-4.jpg" width="563" height="392"
						alt="Le Domaine Saint André - 4" />
				</div>
			</div>
		</div>
	</div>
</div>