
<div class="contenair-client">		
				<div id="div_titre_menu">
					<div class="info-client">
						Client : <span>Edition Limitee</span> | Agence : <span>Internet-cmwa</span> | Date : <span>2010</span>
					</div>
						<div id="btn_nav">
							<a class="projet-prev" id="projet-prev-galerie-client" href="#">
								<img src="projets/images/btn-prev.png" border="0" width="35" height="42"/>
							</a>
							<a  class="projet-url" href="http://edition-limitee.com/fr" target="_blank">
								<img src="projets/images/btn-lien.png" border="0" width="131" height="42"/>
							</a>
							<a class="projet-next" id="projet-next-galerie-client" href="#">
								<img style="margin:-11px 6px 0 0!important;" src="projets/images/btn-next.png" border="0" width="35" height="42"/>
							</a>
							<a href="#" id="retour">
								<img src="projets/images/btn-close.png" border="0" width="35" height="42"/>
							</a>
						</div>
						<img src="projets/images/barre-separ.png"/>
						<div id="cont-gauche">
							<img src="projets/images/galerie/projet-1/logo-edition-limitee.png" alt="logo edition limitee"/>
							<br/><br/>
							<p>Site E-commerce et blog de la marque de luxe &laquo;Edition limitee&raquo;.<br/>
							Il s'agit d'un projet r&eacute;alis&eacute; en tant qu'auto-entrepreneur avec l'agence Internet-cmwa.</p><br/>
							<br/>
							<p id="my-work-title">Ce que j'ai fait ...</p>
							<ul>
								<li><span>Webdesign & Int&eacute;gration</span></li>
								<li><span>CMS Joomla & Virtuemart (Boutique en ligne)</span></li>
								<li><span>Animations flash</span></li>
								<li><span>Mise en place du Blog (Wordpress)</span></li>
								<li><span>Maintenance du site</span></li>
								<li><span>D&eacute;veloppement de modules en PHP sous Joomla</span></li>
							</ul>
						</div>				
			<div id="cont-droite">
				<div id="clientsHolder">
					<div id="galerie-client">			
						<img src="projets/images/galerie/projet-1/edition-limitee-1.jpg" width="563" height="392" alt="Edition-limitee-marque de luxe - 1" />
						<img src="projets/images/galerie/projet-1/edition-limitee-2.jpg" width="563" height="392" alt="Edition-limitee-marque de luxe - 2" />
						<img src="projets/images/galerie/projet-1/edition-limitee-3.jpg" width="563" height="392" alt="Edition-limitee-marque de luxe - 3" />
						<img src="projets/images/galerie/projet-1/edition-limitee-4.jpg" width="563" height="392" alt="Edition-limitee-marque de luxe - 4" />
						<img src="projets/images/galerie/projet-1/edition-limitee-5.jpg" width="563" height="392" alt="Edition-limitee-marque de luxe - Le blog" />
					</div>
				</div>
			</div>
		</div>
	</div>
	
