	<div class="contenair-client">
				<div id="div_titre_menu">
					<div class="info-client">
						Client : <span>Mairie de Gap (05)</span> | Agence : <span>Internet-cmwa</span> | Date : <span>2009</span>
					</div>
						<div id="btn_nav">
							<a class="projet-prev" id="projet-prev-galerie-client" href="#">
								<img border="0" src="projets/images/btn-prev.png" width="35" height="42"/>
							</a>
							<a class="projet-next" id="projet-next-galerie-client" href="#">
								<img border="0"  src="projets/images/btn-next.png" width="35" height="42"/>
								</a>
							<a href="#" id="retour">
								<img border="0" src="projets/images/btn-close.png" width="35" height="42"/>
								</a>
						</div>
						<img src="projets/images/barre-separ.png"/>
						<div id="cont-gauche">
							<img src="projets/images/galerie/projet-9/logo-gap.png"/>
							<br/><br/><br/>
							<p>Maquette de site intranet pour la mairie de Gap.</p>					
							<p>Il s'agit d'un projet de refonte d'intranet au niveau graphique.</p><br/>
							<br/>
							<p id="my-work-title">J'ai utilis&eacute; ...</p>
							<ul>
								<li><span>Photoshop CS4</span></li>
								<li><span>Illustrator CS4</span></li>
							</ul>	
						</div>
			<div id="cont-droite">
				<div id="clientsHolder">
					<div id="galerie-client">			
						<img src="projets/images/galerie/projet-9/mairie-de-gap-1.jpg" width="563" height="392" alt="Mairie de GAP" />
					</div>
				</div>
			</div>
		</div>
	</div>