{% extends 'webapp/base/common.html' %}
{% block content %}
{% load static %}
<link href="{% static 'webapp/css/portfolio.css' %}" rel="stylesheet" />

<header class="masthead bg-primary text-white">
    <div class="cont1"></div>
    <div class="cont2">

        <div id="pxs_container" class="pxs_container_projekt">
            <div class="background-project">
                <div id="bg_repeat">

                    <div id="contenu-client"></div>
                    <!--<div class="pxs_loading">Chargement ...</div>-->
                </div>
            </div>
        </div>
    </div>
    <div id="thumb-portfolio">
        <div id="container_portfolio_bg">

            <div id="div_titre_portfolio">
                <h1 class="titre_h1">Portfolio</h1>
            </div><br />

            {% if project_menu %}
            <div id="menu_portfolio">
                <ul class="menu">
                    <li class="selected"><a href="#" rel="all">Tout afficher</a></li>
                    {% for menu_hash in project_menu %}
                    <li><a href="#" rel="{{menu_hash.rel}}">{{menu_hash.label}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div id="container_thumbs_portfolio">
                <ul class="item">
                    <li class="item" rel="sites">
                        <div class="info_cache 0" id="edition-limitee">
                            <p>
                                <span>EDITION-LIMITEE</span>
                                <br />Site E-commerce
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/edition-limitee.jpg' %}"
                            alt="vignette edition limitee" />
                    </li>

                    <li class="item" rel="sites">
                        <div class="info_cache 1" id="ferme-des-sonnailles">
                            <p class="autre_1">
                                <span>Ferme des Sonnailles</span>
                                <br />Site Vitrine
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/sonnailles.jpg' %}"
                            alt="vignette ferme des sonnailles" />
                    </li>

                    <li class="item" rel="sites">
                        <div class="info_cache 2" id="domaine-saint-andree">
                            <p>
                                <span>Domaine Saint-André</span>
                                <br />Site Vitrine
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/domaine-saint-andre.jpg' %}"
                            alt="vignette domaine saint andre" />
                    </li>

                    <li class="item" rel="sites">
                        <div class="info_cache 3" id="internet-cmwa">
                            <p>
                                <span>Internet-cmwa</span>
                                <br />Site Vitrine
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/internet-cmwa.jpg' %}"
                            alt="vignette internet cmwa" />
                    </li>

                    <li class="item" rel="sites">
                        <div class="info_cache 4" id="menuiserie-candido">
                            <p>
                                <span>Menuiserie Candido</span>
                                <br />Site Vitrine
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/menuiserie-candido.jpg' %}"
                            alt="vignette menuiserie candido" />
                    </li>

                    <li class="item" rel="sites">
                        <div class="info_cache 5" id="intranet-ft">
                            <p>
                                <span>France Télécom</span>
                                <br />Intranet
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/orange.jpg' %}" alt="vignette france télécom" />
                    </li>

                    <li class="item" rel="webdesigns">
                        <div class="info_cache 6" id="credit-agricole">
                            <p>
                                <span>Crédit Agricole</span>
                                <br />Webdesign
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/credit-agricole.jpg' %}"
                            alt="vignette crédit agricole" />
                    </li>

                    <li class="item" rel="webdesigns">
                        <div class="info_cache 7" id="bnp-paribas-web">
                            <p>
                                <span>BNP PARIBAS CARDIF</span>
                                <br />Divers Webdesign
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/bnp-paribas-web.jpg' %}"
                            alt="vignette BNP Paribas web" />
                    </li>

                    <li class="item" rel="webdesigns">
                        <div class="info_cache 8" id="intranet-gap">
                            <p>
                                <span>Mairie de Gap</span>
                                <br />Intranet
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/intranet-gap.jpg' %}"
                            alt="vignette mairie de Gap" />
                    </li>

                    <li class="item" rel="webdesigns">
                        <div class="info_cache 9" id="cnad">
                            <p>
                                <span>Chez-soi Services</span>
                                <br />Webdesign
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/cnad.jpg' %}" alt="vignette CNAD" />
                    </li>

                    <li class="item" rel="webdesigns">
                        <div class="info_cache 10" id="apero">
                            <p>
                                <span>L'Apero.net</span>
                                <br />Webdesign
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/lapero-net.jpg' %}" alt="vignette lapero.net" />
                    </li>

                    <li class="item" rel="flash">
                        <div class="info_cache 11" id="etsi">
                            <p>
                                <span>ETSI</span>
                                <br />Flash
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/etsi.jpg' %}" alt="vignette ETSI" />
                    </li>

                    <li class="item" rel="flash">
                        <div class="info_cache 12" id="bnp-senegal">
                            <p>
                                <span>BNP Paribas - Sénégal</span>
                                <br />Flash
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/bnp-senegal.jpg' %}"
                            alt="vignette BNP Paribas - senegal" />
                    </li>

                    <li class="item" rel="flash">
                        <div class="info_cache 13" id="bnp-carte-france">
                            <p class="autre_2">
                                <span>BNP Paribas<br />Carte de France</span>
                                <br />Flash
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/bnp-carte-france.jpg' %}"
                            alt="vignette BNP Paribas - carte de France" />
                    </li>

                    <li class="item" rel="flash">
                        <div class="info_cache 14" id="bnp-banniere">
                            <p>
                                <span>BNP Paribas</span>
                                <br />Bannières Flash
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/bnp-mix.jpg' %}"
                            alt="vignette BNP Paribas - bannières" />
                    </li>

                    <li class="item" rel="videos-3d">
                        <div class="info_cache 15" id="bnp-paribas-video">
                            <p>
                                <span>BNP Paribas</span>
                                <br />Vidéos
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/bnp-paribas-video.jpg' %}"
                            alt="vignette BNP Paribas - vidéos" />
                    </li>

                    <li class="item" rel="videos-3d">
                        <div class="info_cache 16" id="domaine-3d">
                            <p>
                                <span>Domaine Saint-André/span>
                                    <br />Modélisation 3D
                            </p>
                        </div>
                        <img src="{% static 'webapp/assets/img/clients/domaine-saint-andre-3d.jpg' %}"
                            alt="vignette 3D domaine saint andre" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
{% endblock %}